@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  font-size: 15px;
  font-family: 'Roboto',Verdana,Tahoma, sans-serif;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#eeeeee));
  background: linear-gradient(to bottom, #eeeeee 0%, #eeeeee 100%);
  background-attachment: fixed;
  height: 100%;
}

*, body, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin-bottom: 4%;
  padding: 0;
  border-bottom: #757575 1px solid;
}

ul:nth-last-child(1) {
  border: none;
  margin-bottom: 20px;
}

i {
  color: #009688;
  padding-right: .5rem;
}

.icon-calendar + p {
  font-size: 30px;
}

.actualmente {
  background-color: #009688;
  color: white;
  padding: 0.1em 5px;
  border-radius: 10px;
  text-align: center;
}

@media (min-width: 601px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 1rem;
  }
}

@media (min-width: 751px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.wrapper .ex-edu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .container-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: 1.3rem;
  margin: 1rem auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 0px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 0px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width: 601px) {
  .wrapper .container-exp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .wrapper .container-exp ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 2.5;
  }
}

@media (min-width: 751px) {
  .wrapper .container-exp {
    display: block;
    margin: 1rem auto;
    width: 95%;
  }
}

.wrapper .container-edu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: 1.3rem;
  margin: 1rem auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 0px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 0px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width: 751px) {
  .wrapper .container-edu {
    display: block;
    margin: 1rem auto;
    width: 95%;
  }
}

@media (min-width: 601px) {
  .wrapper .container-edu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .wrapper .container-edu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 2.5;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: 1.3rem;
  margin: 1rem auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 0px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16), 0 2px 0px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width: 751px) {
  .container {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 25% !important;
            flex: 0 1 25% !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 601px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

.container .perfil {
  margin-bottom: 10%;
  line-height: 1.5;
}

.container .perfil .img-perfil {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.container .perfil .img-perfil img {
  max-width: 100%;
}

.container .perfil .img-perfil .text-nombre {
  position: absolute;
  bottom: 10px;
  color: white;
  padding: 0 1rem;
}

@media (min-width: 601px) {
  .container .perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    line-height: 2;
  }
}

.container .perfil .tags-contacto ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0  1 auto;
          flex: 0  1 auto;
  /*   i{
                        display: inline-block;
                    }
                    p{
                        display: inline-block;
                    }
                    */
}

.container .perfil .skills ul li span {
  display: block;
  background-color: #f1f1f1;
  border-radius: 16px;
}

.container .perfil .skills ul li span .barra-html {
  display: block;
  width: 80%;
  background-color: #009688 !important;
  border-radius: 16px;
  text-align: center;
  color: white;
}

.container .perfil .skills ul li span .barra-css {
  display: block;
  width: 77%;
  background-color: #009688 !important;
  border-radius: 16px;
  text-align: center;
  color: white;
}

.container .perfil .skills ul li span .barra-js {
  display: block;
  width: 60%;
  background-color: #009688 !important;
  border-radius: 16px;
  text-align: center;
  color: white;
}

.container .perfil .skills ul li span .barra-jq {
  display: block;
  width: 50%;
  background-color: #009688 !important;
  border-radius: 16px;
  text-align: center;
  color: white;
}

.container .perfil .skills ul li span .barra-php {
  display: block;
  width: 50%;
  background-color: #009688 !important;
  border-radius: 16px;
  text-align: center;
  color: white;
}

.container .perfil .skills ul li span .barra-sql {
  display: block;
  width: 60%;
  background-color: #009688 !important;
  border-radius: 16px;
  text-align: center;
  color: white;
}

.container .perfil .lenguages ul li span {
  display: block;
  background-color: #f1f1f1;
  border-radius: 16px;
}

.container .perfil .lenguages ul li span .barra-esp {
  display: block;
  width: 100%;
  background-color: #009688 !important;
  border-radius: 16px;
  text-align: center;
  color: white;
}

.container .perfil .lenguages ul li span .barra-ing {
  display: block;
  width: 55%;
  background-color: #009688 !important;
  border-radius: 16px;
  text-align: center;
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #009688;
  padding: 1rem;
}

footer .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-text p {
  color: white;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */
